/* General styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.section {
    opacity: 0;
    transition: transform 1s ease-out, opacity 1s ease-out;
}

.slide-left {
    transform: translateX(-100%);
}

.slide-right {
    transform: translateX(100%);
}

.slide-in {
    transform: translateX(0);
    opacity: 1;
}
